@using BarakaBg.Common
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Configuration
@inject IWebHostEnvironment environment
@inject IConfiguration configuration
@model BarakaBg.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    <div class="col-md-8">
        <div class="row">
            @foreach (var product in this.Model.RandomProducts)
            {
                <div class="card col-md-6">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.CategoryName</p>
                        <a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id" class="btn btn-primary">Go to Product</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Products: @Model.ProductsCount</li>
            <li class="list-group-item bg-light">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Images: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Ingredients: @Model.IngredientsCount</li>
        </ul>
    </div>
</div>


<div id="container"></div>

@section Scripts
{
}
