@using BarakaBg.Common
@model BarakaBg.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <ul>
        <li>Products: @Model.ProductsCount</li>
        <li>Categories: @Model.CategoriesCount</li>
        <li>Images: @Model.ImagesCount</li>
        <li>Ingredients: @Model.IngredientsCount</li>
    </ul>
</div>
