@using BarakaBg.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Custom Style -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2b5e1173ae.js" crossorigin="anonymous"></script>
    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-cogs"></i>
                <div class="sidebar-brand-text mx-3">
                    BarakaBg Administration
                </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>
                        Dashboard
                    </span>
                </a>
                <a class="nav-link" asp-area="Administration" asp-controller="Chat" asp-action="Index">
                    <i class="fas fa-comment-alt"></i>
                    <span>
                        Chat
                    </span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Orders
            </div>
            <!-- Nav Item - Orders Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-box"></i>
                    <span>
                        Orders
                    </span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="Administration" asp-controller="Orders" asp-action="Unprocessed">Unprocessed</a>
                        <a class="collapse-item" asp-area="Administration" asp-controller="Orders" asp-action="Processed">Processed</a>
                        <a class="collapse-item" asp-area="Administration" asp-controller="Orders" asp-action="Delivered">Delivered</a>
                        <a class="collapse-item" asp-area="Administration" asp-controller="Orders" asp-action="Deleted">Deleted</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Suppliers Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSuppliers"
                   aria-expanded="true" aria-controls="collapseSuppliers">
                    <i class="fas fa-truck"></i>
                    <span>Suppliers</span>
                </a>
                <div id="collapseSuppliers" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Users
            </div>
            <!-- Nav Item - Messages -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMessages"
                   aria-expanded="true" aria-controls="collapseMessages">
                    <i class="fas fa-envelope"></i>
                    <span>
                        Messages
                    </span>
                </a>
                <div id="collapseMessages" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    
                </div>
            </li>
            <!-- Nav Item - Partners Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePartners"
                   aria-expanded="true" aria-controls="collapsePartners">
                    <i class="fas fa-handshake"></i>
                    <span>Partners</span>
                </a>
                <div id="collapsePartners" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Heading -->
            <div class="sidebar-heading">
                Products
            </div>
            <!-- Nav Item - Main Categories Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainCategories"
                   aria-expanded="true" aria-controls="collapseMainCategories">
                    <i class="fas fa-folder"></i>
                    <span>Main Categories</span>
                </a>
                <div id="collapseMainCategories" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    
                </div>
            </li>
            <!-- Nav Item - Sub Categories Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSubCategories"
                   aria-expanded="true" aria-controls="collapseSubCategories">
                    <i class="fas fa-sitemap"></i>
                    <span>Sub Categories</span>
                </a>
                <div id="collapseSubCategories" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    
                </div>
            </li>
            <!-- Nav Item - Products Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
                   aria-expanded="true" aria-controls="collapseProducts">
                    <i class="fas fa-cube"></i>
                    <span>
                        Products
                    </span>
                </a>
                <div id="collapseProducts" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="Administration" asp-controller="Products" asp-action="All">All</a>
                        <a class="collapse-item" asp-area="Administration" asp-controller="Products" asp-action="Create">Create</a>
                        <a class="collapse-item" asp-area="Administration" asp-controller="Products" asp-action="Deleted">Deleted</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Navbar Alerts -->
                        <vc:navbar></vc:navbar>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @this.User.Identity.Name
                                </span>
                                <i class="fas fa-user"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Back To Site
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <partial name="~/Views/Shared/_AlertsPartial.cshtml" />
                    @this.RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            Copyright &copy; BarakaBg @DateTime.UtcNow.Year
                        </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Ready to Leave?
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                        <button type="submit" class="btn btn-primary">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== JavaScript Files ========== -->
    <!-- jQuery JS -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <!-- jQuery Unobstrusive Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment-js/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/time.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>