@using BarakaBg.Common
@using BarakaBg.Data.Models
@using Microsoft.AspNetCore.Identity
@model BarakaBg.Web.ViewModels.Products.ProductsListViewModel
@inject SignInManager<ApplicationUser> SignInManager

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">@this.TempData["Message"]</div>
}

@{
    this.ViewData["Title"] = "All products";
}

<div class="form-group col-md">
    <form method="get">
        <div class="form-inline col-md">
            <input asp-for="SearchTerm" class="form-control col-md" placeholder="Search product..." />
            <div class="col col-form-label col-md">
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 col-6">
                <div>
                    <a asp-action="ById" asp-route-id="@product.Id">
                        <img class="img-fluid" src="@product.ImageUrl" alt="@product.Name">
                    </a>
                    @if (this.SignInManager.IsSignedIn(this.User) && !this.User.IsInRole(GlobalConstants.AdministratorName))
                    {
                        <a asp-area="" asp-controller="WishList" asp-action="Add" asp-route-id="@product.Id" class="fav" data-placement="left" title="WishList">
                            <i class="fas fa-heart mr-0 pt-1"></i>
                        </a>
                        <a asp-area="" asp-controller="ShoppingBag" asp-action="Add" asp-route-productId="@product.Id" class="it-cart">
                            <span class="it-img">
                                <i class="fas fa-shopping-cart">
                                </i>
                            </span>
                            <span class="it-title">
                                Add To Cart
                            </span>
                        </a>
                    }
                </div>
                <div>
                    <div>
                        <h3>
                            <a asp-action="ById" asp-route-id="@product.Id" title="@product.Name">@product.Name</a>
                        </h3>
                        <div>
                            <span>
                                <span>@product.Price</span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <a>
                            @product.Description.Substring(0, product.Description.Length > 200 ? 200 : product.Description.Length)
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />
