@model BarakaBg.Web.ViewModels.SearchProducts.AllProductsQueryModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">@this.TempData["Message"]</div>
}

<title>
    @this.ViewData["Title"]
</title>

<div class="row">
    <form method="get">
            <div class="form-group">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search product..."/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        Search
                    </button>
                </div>
            </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 col-6">
                <div>
                    <a asp-action="ById" asp-route-id="@product.Id">
                        <img class="img-fluid" src="@product.ImageUrl" alt="@product.Name">
                    </a>
                    <a asp-area="" asp-controller="WishList" asp-action="Add" asp-route-id="@product.Id" class="fav" data-placement="left" title="WishList">
                        <i class="fas fa-heart mr-0 pt-1"></i>
                    </a>
                    <a asp-area="" asp-controller="ShoppingBag" asp-action="Add" asp-route-productId="@product.Id" class="it-cart">
                        <span class="it-img">
                            <i class="fas fa-shopping-cart">
                            </i>
                        </span>
                        <span class="it-title">
                            Add To Cart
                        </span>
                    </a>
                </div>
                <div>
                    <div>
                        <h3>
                            <a asp-action="ById" asp-route-id="@product.Id" title="@product.Name">@product.Name</a>
                        </h3>
                        <div>
                            <span>
                                <span>@product.Price</span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <a asp-action="ById" asp-route-id="@product.Id">
                            @product.Description
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />
