@using BarakaBg.Common
@using BarakaBg.Web.ViewModels.Products
@using System.Globalization
@using System.Security.Claims
@model BarakaBg.Web.ViewModels.Products.SingleProductViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<title>
    @this.ViewData["Title"]
</title>

<!-- CSS -->


<div>
    @*<h2>
        @this.ViewData["Title"]
    </h2>*@
    <div class="row mb-4">
        <div class="pro-rating">
        </div>
        <div class="product-image">
            <a class="pro-img" href="@Model.ImageUrl">
                <img class="img-fluid w-100" src="@Model.ImageUrl" alt="@Model.Name">
            </a>
        </div>
        <div class="col-md-6 col-xl-6 product_details">
            <div class="product_details_info">
                <div class="product-title">
                    <h2>
                        @Model.Name
                    </h2>
                </div>
                <div class="product-inventory">
                    <h3>
                        <span>
                            Availability:
                        </span>
                        <span id="variant-inventory" class="in-stock">
                            @Model.Stock
                        </span>
                    </h3>
                </div>
                <div>
                    <h3>
                        <span>
                            Category:
                        </span>
                        <span>
                            @Model.CategoryName
                        </span>
                    </h3>
                </div>
                <div class="pro-price-label">
                    <div class="price-box" id="ProductPrice">
                        <h3>
                            <span>
                                Price:
                            </span>
                            <span>
                                @Model.Price lv
                            </span>
                            </h3>
                        @*<span class=money>
                            Price: @Model.Price lv
                        </span>*@
                    </div>

                    <a asp-area="" asp-controller="WishList" asp-action="Add" asp-route-id="@Model.Id" class="it-fav" data-toggle="tooltip" data-placement="top" title="WishList" style="margin-left: 379px;">
                        <i class="fas fa-heart mr-0 pt-1"></i>
                    </a>
                    <a asp-area="" asp-controller="ShoppingBag" asp-action="Add" asp-route-productId="@Model.Id" data-toggle="tooltip" data-placement="top" title="Add to Cart" style="margin-left: 67px;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <hr/>
                <div>
                    @Model.Description
                </div>
            </div>
            
            @*@{
                var ratingSum = ViewBag.RatingSum;
                var ratingCount = ViewBag.RatingCount;

                decimal rating = 0;

                if (ratingCount > 0)
                {
                    rating = (ratingSum / ratingCount);
                }

                var totalRating = decimal.Parse(rating.ToString());
            }*@

            @*<h2>@Model.Title</h2>*@

            @*<div>
                <span class="starFadeN" id="sRate1"></span>
                <span class="starFadeN" id="sRate2"></span>
                <span class="starFadeN" id="sRate3"></span>
                <span class="starFadeN" id="sRate4"></span>
                <span class="starFadeN" id="sRate5"></span>
            </div>*@

        </div>
        <div class="col col-md-6 col-xl-3" style="margin-left: 78px; margin-top: 82px; padding-right: 0px; padding-left: 0px; margin-right: 5px;">
            <h3>
                User Ratings:
            </h3>
            @foreach (var comment in Model.ProductComments)
            {
                <div class="row">
                    <div class="col-md-8">
                        @*<i>@comment.PublishedDate</i>*@
                        <br/>
                        @for (var i = 1; i <= comment.Rating; i++)
                        {
                            <span class="starGlowN"></span>
                        }
                        @for (var i = (comment.Rating + 1); i <= 5; i++)
                        {
                            <span class="starFadeN"></span>
                        }
                    </div>
                </div>

                <hr/>
            }
        </div>
            
        <hr />
        <partial name="_CommentBoxPartial"/>

    </div>

    <a asp-area="" asp-controller="Products" asp-action="All" class="btn btn-secondary">
        Back to All Products
    </a>

    @if (this.User.IsInRole(GlobalConstants.AdministratorName))
    {
        <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">
            Edit
        </a>

        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#softDeleteModal">
            Soft delete
        </a>
        <div class="modal fade" id="softDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Soft delete
                        </h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to soft delete this product?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <a asp-area="Administration" asp-controller="Products" asp-action="SoftDelete" asp-route-id="@this.Model.Id" class="btn btn-danger">
                            Soft delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#hardDeleteModal">
            Hard delete
        </a>
        <div class="modal fade" id="hardDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Hard delete
                        </h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to hard delete this product?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <a asp-area="Administration" asp-controller="Products" asp-action="HardDelete" asp-route-id="@this.Model.Id" class="btn btn-danger">
                            Hard delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <a asp-area="Administration" asp-controller="Products" asp-action="Index" class="btn btn-secondary">
            Back to Products Administration
        </a>

        <li class="single-meta">
            <form method="post" asp-area="Administration" asp-controller="Products" asp-action="SendToEmail" asp-route-id="@Model.Id">
                <button class="btn btn-warning">
                    Send to my Email
                </button>
            </form>
        </li>
        <li class="single-meta">
            <button class="btn btn-warning" onclick="window.print();">
                Print
            </button>
        </li>
    }
</div>

@section Scripts {
    @*<script>
        function SCRate() {
            for (var i = 1; i <= @totalRating; i++) {
                $("#sRate" + i).attr('class', 'starGlowN');
            }
        }
        $(function(){
            SCRate();
        });
    </script>*@
}

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">
                    Yes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<link href="~/css/site.css" rel="stylesheet" />