@using BarakaBg.Common
@model BarakaBg.Web.ViewModels.Products.SingleProductViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js supports-no-cookies " lang="en">
<!--<![endif]-->
<head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://calveen-store.myshopify.com/products/etiam-gravida"><!-- Title and description -->

    <title>
        @this.ViewData["Title"]
    </title>


    <!-- CSS -->
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/timber.scss.css?v=5131043948548052984" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/bootstrap.min.css?v=12128791072025208527" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/animate.min.css?v=16961547511436470318" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/font-awesome.min.css?v=2186963269736709578" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/owl.carousel.min.css?v=7051608981761278196" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/owl.theme.default.min.css?v=13504611835828271336" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/swiper.min.css?v=16895457234086373678" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/jquery.mCustomScrollbar.css?v=8594164602724665162" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/themify-icons.css?v=1782837867860931872" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/simple-line-icons.css?v=4940251124770059982" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/ionicons.min.css?v=18436430612067519620" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/plugins.css?v=10451640942466937240" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/magnific-popup.css?v=5259335330236467550" rel="stylesheet" type="text/css" media="all" />

    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/theme-default.css?v=16834706586602401949" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/style.css?v=1148921667395293048" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/theme-custom.css?v=7113697661042905670" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/theme-responsive.css?v=11883961643139697969" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/skin-theme.css?v=15301302816435767074" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/theme-color.css?v=200769215256113523" rel="stylesheet" type="text/css" media="all" />

</head>

<body id="etiam-gravida" class="template-product">
<div id="shopify-section-header" class="shopify-section">
<!-- header-area start -->
<div class="header-kaj">
<div class="top-notification-bar">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="notification-entry">
                    <li class="notify-wrap">
                        <i class="fa fa-phone"></i>
                        <p>(+33) 1 23 45 67 89</p>
                    </li>

                    <li class="notify-wrap">

                        <div class="wishlist">
                            <a class="header-wishlist-btn" href="/account/login" title="Wishlist">
                                <span class="wishlist-title">Wishlist</span>
                                <span class="wishlist-counter"></span>
                            </a>
                        </div>

                        <style>
                            .wishlist a {
                                display: flex;
                                align-items: center;
                            }

                            .wishlist a span.wishlist-counter {
                                margin-left: 5px;
                                position: relative;
                            }

                            .wishlist a span.wishlist-counter::before {
                                content: "(";
                            }

                            .wishlist a span.wishlist-counter::after {
                                content: ")";
                            }
                        </style>
                        <div class="user-wrap">
                            <div class="acc-desk">
                                <a class="acc-ti" data-toggle="collapse" href="#store-account">
                                    <span class="acc-signin">My Account</span>
                                </a>

                                <div class="acc-re-lo collapse" id="store-account">
                                    <a href="/account/login">Sign in</a>
                                    <a href="/account/register">Register</a>
                                </div>

                            </div>
                        </div>
                        <div class="currency-wrap">
                            <span style="display:none;" class="BOLD-mc-picker-mnt " data-open="up" data-bold-mc-picker-mnt></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="header-area">
    <div class="header-main-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-main">
                        <button class="navbar-toggler" type="button">
                            <span class="line"></span>
                        </button>
                        <div class="header-element logo">
                            <a href="/" class="theme-logo">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/download.png?v=1594374012" alt="calveen-store">
                            </a>
                            <style>
                                .logo a.shop-name span {
                                    color: #000;
                                    font-size: 24px;
                                    font-weight: 600;
                                }
                            </style>
                        </div>
                        <div class="header-element search-wrap">
                            <!-- /snippets/search-bar.liquid -->

                            <a class="search-crap" data-toggle="collapse" href="#search-crap">
                                <i class="ti-search"></i>
                            </a>
                            <div class="crap-search collapse" id="search-crap">
                                <form action="/search" method="get" class="search-bar" role="search">
                                    <div class="form-search">
                                        <input type="hidden" name="type" value="product">
                                        <input type="hidden" name="options[unavailable_products]" value="show">
                                        <input type="hidden" name="options[prefix]" value="last">
                                        <input type="search" name="q" value="" placeholder="Search our catalog" id="search" class="input-text" aria-label="Search our store">
                                        <button class="search-btn" type="submit">Search</button>
                                    </div>
                                </form>
                            </div>


                        </div>
                        <div class="header-element right-block-box">
                            <ul class="shop-element">
                                <li class="cart-wrap">


                                    <div class="shopping-widget">
                                        <div class="shopping-cart">
                                            <a class="cart-count" data-toggle="collapse" href="#cart">
                                                <i class="ti-shopping-cart"></i>
                                                <span id="cart-total" class="bigcounter">1</span>
                                                <span class="cart-text">
                                                    <span class="mycart-title">My Cart</span>
                                                    <span id="cart-total" class="subtotal-price"><span class=money>£10.00</span></span>
                                                </span>
                                            </a>
                                            <div class="mini-cart collapse" id="cart">
                                                <!--       <a href="javascript:void(0)" class="shopping-cart-close">
                                                    <i class="ion-close-round"></i>
                                                </a> -->
                                                <div class="cart-tempty-title">
                                                    <i class="ti-bag"></i>
                                                    <p>No products in the cart.</p>
                                                </div>
                                                <div class="cart-item-title">
                                                    <p>
                                                        <span class="cart-count-desc">There are</span>
                                                        <span id="cart-total" class="cart-count-item bigcounter">1</span>
                                                        <span class="cart-count-desc">products</span>
                                                    </p>
                                                </div>
                                                <ul class="cart-item-loop">

                                                    <li class="cart-item">
                                                        <div class="cart-image">
                                                            <a href="/products/etiam-gravida?variant=34967082598555">
                                                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/products/15_cbef2675-91af-46b2-b986-31813302572a_100x120.jpg?v=1594469336" alt="" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="cart-title">
                                                            <h6>
                                                                <a href="/products/etiam-gravida?variant=34967082598555" title="Etiam gravida">Etiam gravida</a>
                                                            </h6>
                                                            <div class="cart-pro-info">
                                                                <div class="cart-qty-price">
                                                                    <span class="quantity">1 × </span>
                                                                    <span class="price-box">
                                                                        <span class="new-price"><span class=money>£10.00</span></span>
                                                                    </span>
                                                                </div>
                                                                <div class="delete-item-cart">
                                                                    <a class="remove_from_cart" href="javascript:void(0);" onclick="Shopify.removeItem(34967082598555)"><i class="fa fa-trash-o"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <ul class="subtotal-title-area">
                                                    <li class="subtotal-titles">
                                                        <div class="subtotal-titles">
                                                            <h3>Sub Total:</h3>
                                                            <span id="cart-total" class="subtotal-price"><span class=money>£10.00</span></span>
                                                        </div>
                                                    </li>
                                                    <li class="mini-cart-btns">
                                                        <div class="cart-btns">
                                                            <a href="/cart" class="btn btn-style2">View Cart</a>
                                                            <a href="/checkout" class="btn btn-style2">Checkout</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom-area">
<div class="container">
<div class="row">
<div class="col">
<div class="search-wrap">
    <!-- /snippets/search-bar.liquid -->

    <a class="search-crap" data-toggle="collapse" href="#search-crap">
        <i class="ti-search"></i>
    </a>
    <div class="crap-search collapse" id="search-crap">
        <form action="/search" method="get" class="search-bar" role="search">
            <div class="form-search">
                <input type="hidden" name="type" value="product">
                <input type="hidden" name="options[unavailable_products]" value="show">
                <input type="hidden" name="options[prefix]" value="last">
                <input type="search" name="q" value="" placeholder="Search our catalog" id="search" class="input-text" aria-label="Search our store">
                <button class="search-btn" type="submit">Search</button>
            </div>
        </form>
    </div>


</div>
<div class="main-menu-area">
<nav class="main-navigation navbar-expand-xl">
<div class="box-header">
    <button class="close-box" type="button"><i class="ti-close"></i></button>
</div>
<div class="navbar-collapse" id="navbarContent">
<div class="megamenu-content">
<a href="#main-collapse" class="browse-cat" data-toggle="collapse">
    <i class="ti-menu"></i>
    <span>Menu</span>
</a>
<div class="mainwrap collapse" id="main-collapse">
<ul class="main-menu">



<li class="menu-link">
    <a href="/" class="link-title">
        <span>Home</span>
    </a>
    <a href="/" class="link-title link-title-lg">
        <span>Home</span>
    </a>
</li>




<li class="menu-link">
    <a href="/collections/chanel" class="link-title">
        <span>The Gussi</span>
    </a>
    <a href="/collections/chanel" class="link-title link-title-lg">
        <span>The Gussi</span>
    </a>
</li>




<li class="menu-link parant">
    <a class="link-title" href="#">
        <span>Classic Perfumes</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <a data-toggle="collapse" href="#collapse-Classic-Perfumes" class="link-title link-title-lg">
        <span>Classic Perfumes</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-Classic-Perfumes">



        <li class="megamenu-li parant">
            <h2 class="sublink-title">Men's & Women's</h2>
            <a data-toggle="collapse" href="#collapse-Men's--Women's" class="sublink-title">
                <span>Men's & Women's</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-supmenu collapse" id="collapse-Men's--Women's">

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">The Roja</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Fearless</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Togt & Marle</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">The Gussi</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Mqueen</a>
                </li>

            </ul>
        </li>




        <li class="megamenu-li parant">
            <h2 class="sublink-title">Designer Perfumes</h2>
            <a data-toggle="collapse" href="#collapse-Designer-Perfumes" class="sublink-title">
                <span>Designer Perfumes</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-supmenu collapse" id="collapse-Designer-Perfumes">

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Chanel</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Fearless</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">The Roja</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">The Gussi</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Prada</a>
                </li>

            </ul>
        </li>




        <li class="megamenu-li parant">
            <h2 class="sublink-title">Celebrity Perfumes</h2>
            <a data-toggle="collapse" href="#collapse-Celebrity-Perfumes" class="sublink-title">
                <span>Celebrity Perfumes</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-supmenu collapse" id="collapse-Celebrity-Perfumes">

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Togt & Marle</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Prada</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">The Gussi</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Mqueen</a>
                </li>

                <li class="supmenu-li">
                    <a href="#" class="suplink-title">Fearless</a>
                </li>

            </ul>
        </li>
        
        <li class="menu-banner">
            <a href="/collections/regina" class="banner-hover">
                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/collections/regina.jpg?v=1594384565">
            </a>
        </li>
    </ul>
</li>




<li class="menu-link">
    <a href="/collections/new-products" class="link-title">
        <span>Togt & Marle</span>
    </a>
    <a href="/collections/new-products" class="link-title link-title-lg">
        <span>Togt & Marle</span>
    </a>
</li>




<li class="menu-link">
    <a href="/collections/mqueen" class="link-title">
        <span>Prada</span>
    </a>
    <a href="/collections/mqueen" class="link-title link-title-lg">
        <span>Prada</span>
    </a>
</li>




<li class="menu-link">
    <a href="/blogs/news" class="link-title">
        <span>Blog</span>
    </a>
    <a href="/blogs/news" class="link-title link-title-lg">
        <span>Blog</span>
    </a>
</li>




<li class="menu-link">
    <a href="/pages/about-us" class="link-title">
        <span>About us</span>
    </a>
    <a href="/pages/about-us" class="link-title link-title-lg">
        <span>About us</span>
    </a>
</li>




<li class="menu-link">
    <a href="/pages/contact-us" class="link-title">
        <span>Contact us</span>
    </a>
    <a href="/pages/contact-us" class="link-title link-title-lg">
        <span>Contact us</span>
    </a>
</li>


</ul>
<script>
    $('.megamenu-li').parent('ul').addClass('mega-menu');
    $('.menu-banner').parent('ul').addClass('banner-menu');
    $('.submenu-li').parent('ul').addClass('sub-menu');
</script>
</div>
</div>
</div>
</nav>
</div>

</div>
</div>
</div>
</div>
</div>
<!-- header-area end -->

<style>
    .header-kaj {
        background-color: #000000;
    }
</style>
</div>
<!-- breadcrumb-area start -->

<div class="breadcrumb-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- breadcrumb-list start -->

                <ul class="breadcrumb-list">

                    <li class="breadcrumb-item">
                        <a href="/" title="Back to the home page">Home</a>
                    </li>





                    <li class="breadcrumb-item">
                        <a href="/collections/chanel" title="">Chanel</a>
                    </li>



                    <li class="breadcrumb-item">
                        <span>Etiam gravida</span>
                    </li>


                </ul>


                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->
<main role="main">
<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-6">
                    <div class="single-product-wrap">
                        <div class="product-image">
                            <a class="pro-img" href="@Model.ImageUrl">
                                <img class="img-fluid img1" src="@Model.ImageUrl" alt="@Model.Name">
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-6 product_details">
                            <div class="product_details_info">
                                <div class="product-title">
                                    <h2>@Model.Name</h2>
                                </div>
                                <div class="product-inventory">
                                    <h2>
                                        <span>Availability:</span>

                                        <span id="variant-inventory" class="in-stock">@Model.Stock</span>

                                    </h2>
                                </div>
                                <div class="pro-price-label">
                                    <div class="price-box" id="ProductPrice">
                                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display: none !important;"></span>
                                        <span class="new-price"><span class=money>@Model.Price</span></span>
                                    </div>
                                    <div class="product-label">
                                        <span class="new-title">New</span>
                                    </div>
                                </div>

                                <div class="stock-inventory">
                                    <span>Hurry up! only</span>
                                    <span>20</span>
                                    <span>products left in stock!</span>
                                </div>
                                <div class="product-description">
                                    @Model.Description
                                </div>
                                <div class="pro-detail-action">
                                    <form action="/cart/add" method="post" class="cart" enctype="multipart/form-data" id="add-item-form">

                                        <div class="product-actions">

                                            <div class="product-quantity-action">
                                                <span>Quntity:</span>
                                                <div class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <input value="1" type="text" name="quantity" min="1" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pro-detail-button">
                                                <a class="wishlist" href="/account/login" title="Wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                                                    <i class="ti-heart"></i>
                                                </a>


                                                <div class="product-cart-action pro_dtl_btn">

                                                    <button type="submit" class="ajax-spin-cart" id="AddToCart">

                                                        <span class="cart-title" id="AddToCartText">Add to cart</span>
                                                        <span class="cart-loading animated infinite rotateOut"><i class="ion-load-a"></i></span>
                                                        <span class="cart-added"><i class="ion-android-done"></i></span>
                                                        <span class="cart-unavailable"></span>

                                                    </button>
                                                    <script>
                                                        jQuery('.ajax-spin-cart').click(function (e) {
                                                            e.preventDefault();
                                                            Shopify.addItemFromForm('add-item-form');
                                                        });
                                                    </script>

                                                </div>

                                                <a href="javascript:void(0)" class="btn btn-cart btn_theme" onClick="instantBuy()" data-toggle="tooltip" data-placement="top" title="Direct to checkout">
                                                    <span>Buy Now</span>
                                                </a>
                                            </div>
                                        </div>


                                        <!-- Share -->
                                        <div class="share-icons">
                                            <h2>Share:</h2>
                                            <ul class="pro_social_link">
                                                <li>
                                                    <a target="_blank" href="//www.facebook.com/sharer.php?u=https://calveen-store.myshopify.com/products/etiam-gravida" title="Share on Facebook" tabindex="0"><i class="ion-social-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="//twitter.com/share?text=Etiam%20gravida&amp;url=https://calveen-store.myshopify.com/products/etiam-gravida;source=webclient" title="Share on Twitter" tabindex="0"><i class="ion-social-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="//plus.google.com/share?url=https://calveen-store.myshopify.com/products/etiam-gravida" title="Share on Google+" tabindex="0"><i class="ion-social-googleplus"></i></a>
                                                </li>

                                                <li>
                                                    <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://calveen-store.myshopify.com/products/etiam-gravida&amp;media=http://cdn.shopify.com/s/files/1/0431/7957/3403/products/15_cbef2675-91af-46b2-b986-31813302572a_1024x1024.jpg?v=1594469336&amp;description=Etiam%20gravida" title="Share on Pinterest" tabindex="0"><i class="ion-social-pinterest"></i></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="single-meta">
                    <ul class="item-rating">
                        <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                        <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span></li>
                    </ul>
                </li>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li class="single-meta">
                        <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                    </li>
                }
            </div>
        </div>
    </section>


    <script>
        $('#pro-detail-slider').owlCarousel({
            loop: false,
            margin: 15,
            nav: true,
            navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],dots: false,
            responsive:{
                0:{
                    items:3
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        });

        function instantBuy(){
            var $ = jQuery;
            var formParams = $('form.cart').serialize();
            $.ajax({
                url: "/cart/add",
                type: "post",
                data: formParams,
                success: function(){
                    window.location.href = "/checkout";
                },
                error: function(){
                }
            })
        }
        function addToCart(){
            $('form.cart').submit();
        }
        var selectCallback = function(variant, selector) {
            timber.productPage({
                money_format: "<span class=money>£{{amount}}</span>",
                variant: variant,
                selector: selector
            });
            if (variant.available) {
                // Current variant select+
                var form = jQuery('#' + selector.domIdPrefix).closest('form');
                for (var i=0,size=variant.options.size; i<size; i++) {
                    var val = variant.options[i].replace(/'/g,"&#039;");
                    var radioButton = form.find(".swatch[data-option-index='" + i + "'] :radio[value='" + val +"']");
                    if (radioButton.size()) {
                        radioButton.get(0).checked = true;
                    }
                }
            }

            if (variant && variant.available) {

                if(variant.price < variant.compare_at_price) {

                    $('#ProductPrice').html('<span class="new-price">'+Shopify.formatMoney(variant.price, "<span class=money>£{{amount}}</span>")+'</span><span class="old-price">'+Shopify.formatMoney(variant.compare_at_price,  "<span class=money>£{{amount}}</span>")+'</span>');
                } else {
                    $('#ProductPrice').html('<span class="new-price">'+Shopify.formatMoney(variant.price, "<span class=money>£{{amount}}</span>")+'</span>');
                }

            }
            if (variant && variant.featured_image) {
                jQuery('#pro-detail-slider a[data-image-id="' + variant.featured_image.id + '"]').trigger('click');
            }
        };
  
        $(window).resize(function(){

        });
        $("#zoom_mw").elevateZoom({gallery:'gallery_01', zoomType: 'inner', responsive:true, cursor: 'crosshair', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: ''});
        //pass the images to Fancybox
        $("#zoom_mw").bind("click", function (e) {
            var ez = $('#zoom_mw').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });
    </script>

    <style>
        .product-details {
            padding-top: 40px;
            padding-bottom: 0px;
        }
    </style>
</div>
<div id="shopify-section-single-product-tab" class="shopify-section">
    <section class="product-description-tab">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a class="active show" href="#pro-dec" data-toggle="tab" role="tab" aria-selected="true">
                                    Description
                                </a>
                            </li>


                            <li role="presentation">
                                <a href="#pro-review" data-toggle="tab" role="tab" aria-selected="false">
                                    Reviews
                                </a>
                            </li>





                            <li role="presentation">
                                <a href="#comment-box" data-toggle="tab" aria-selected="false">
                                    Comments
                                </a>
                            </li>




                            <li role="presentation">
                                <a href="#custom-tab-1" data-toggle="tab" role="tab" aria-selected="false">
                                    size-gude
                                </a>
                            </li>


                        </ul>
                    </div>

                    <div class="description-review-text tab-content">
                        <div class="tab-pane active" id="pro-dec" role="tabpanel">
                            <div class="more-description">
                                <h2>More Detail</h2>
                                <ul>
                                    @Model.Description
                                </ul>
                            </div>
                            <div class="more-description">
                                <h2>Key Specification</h2>
                                <ul>
                                    @Model.Description
                                </ul>
                            </div>

                        </div>


                        <div class="tab-pane" id="pro-review" role="tabpanel">
                            <div id="shopify-product-reviews" data-id="5375351521435"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comment-box">
                            <div class="fb-comment-box">
                                <!-- facebook comment box start -->

                                <div class="fb-comments" data-href="https://calveen-store.myshopify.com/products/etiam-gravida" data-width="100%" data-numposts="10"></div>
                                <div id="fb-root"></div>
                                <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

                                <!-- facebook comment box end -->
                            </div>
                        </div>
                        <div class="tab-pane" id="custom-tab-1" role="tabpanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .product-description-tab {
            padding-top: 40px;
            padding-bottom: 0px;
        }
    </style>
</div>
<div id="shopify-section-related-product" class="shopify-section">
    <!-- PRODUCT SECTION START -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-capture">
                        <div class="section-title">
                            <h2 class="heading-home">Related Product</h2>
                        </div>
                    </div>
                    <div class="product-related-slider owl-carousel owl-theme" id="related-slider">
                        <div class="item">
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a class="pro-img" href="@Model.ImageUrl">
                                        <img class="img-fluid img1" src="@Model.ImageUrl" alt="@Model.Name">
                                        <img class="img-fluid img2" src="@Model.ImageUrl" alt="@Model.Name" />
                                    </a>
                                    <div class="product-label">
                                        <span class="new-title">New</span>
                                        <span class="percent-count">-33%</span>
                                    </div>
                                </div>
                                <div class="product-con-wrap">
                                    <div class="product-content">
                                        <div class="product-ratting">
                                            <span class="shopify-product-reviews-badge" data-id="5375346049179"></span>
                                        </div>
                                        <h3>
                                            <a href="/collections/chanel/products/numquam-eius" title="Numquam Eius">Numquam Eius</a>
                                        </h3>
                                        <div class="price-box">
                                            <span class="new-price"><span class=money>£20.00</span></span>
                                            <span class="percent-count">-33%</span>
                                            <span class="old-price"><span class=money>£30.00</span></span>
                                        </div>
                                    </div><div class="product-description">
                                        Fusce vel tristique nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut vitae auctor turpis
                                    </div>
                                    <div class="product-action">
                                        <a href="javascript:void(0);" onclick="quiqview('numquam-eius')" class="quick-view" data-toggle="tooltip" data-placement="top" title="Quickview">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a class="wishlist" href="/account/login" title="Wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a href="javascript:void(0);" onclick="Shopify.addItem(34966753542299, 1); return false;" class="add-to-cart ajax-spin-cart" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <span>
                                                <span class="cart-title"><i class="ti-shopping-cart"></i></span>
                                                <span class="cart-loading animated infinite rotateOut"><i class="ion-load-a"></i></span>
                                                <span class="cart-added"><i class="ion-android-done"></i></span>
                                                <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PRODUCT SECTION END -->

    <script>
        $('#related-slider').owlCarousel({
            loop: false,
            rewind: true,
            margin: 30,
            nav: true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            dots: false, autoplay: true,
            sautoplayTimeout: 5000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2,
                    margin: 15
                },
                480: {
                    items: 2,
                    margin: 15
                },
                768: {
                    items: 2
                },
                979: {
                    items: 3
                }
            }
        });
    </script>

    <style>
        .related-product {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>




</div>
</main>
<div class="mm-fullscreen-bg"></div>
<div id="shopify-section-newsletter" class="shopify-section">
    <div class="news-letter lazyload" style="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="newsletter">
                        <div class="news-title">
                            <span><i class="fa fa-envelope-open"></i></span>
                            <div class="news-con">

                                <h2 class="newstitle">Latest news and Updates</h2>


                                <p class="newstext">Subscribe Our Newslater ,Get In Touch With Us.</p>

                            </div>
                        </div>
                        <div class="subscribe-content">
                            <div class="news-content">
                                <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                    <input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />


                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div class="subscribe-block">
                                        <input type="email" name="contact[email]" class="email mail" id="E-mail" value="" placeholder="Your email address" autocapitalize="off">
                                        <div class="email-submit">
                                            <button type="submit" class="btn btn-style2" name="commit" id="Subscribe">Subscribe</button>
                                            <button type="submit" class="news-sub" name="commit" id="Subscribe"><i class="fa fa-envelope"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .news-letter {
            background-color: rgba(0,0,0,0);
        }
    </style>
</div>

<div id="shopify-section-footer" class="shopify-section">
    <section class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-list-wrap">
                        <ul class="footer-list">
                            <li class="ftlink-li">
                                <div class="footer-info">
                                    <div class="logo">
                                        <a href="/" class="theme-logo">
                                            <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/download.png?v=1594374012" alt="calveen-store">
                                        </a>
                                        <style>
                                            .logo a.shop-name span {
                                                color: #000;
                                                font-size: 24px;
                                                font-weight: 600;
                                            }
                                        </style><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <ul class="social-icon">

                                        <li class="facebook">
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                                <span></span>
                                            </a>
                                        </li>



                                        <li class="twitter">
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                                <span></span>
                                            </a>
                                        </li>



                                        <li class="youtube">
                                            <a href="#">
                                                <i class="fa fa-youtube"></i>
                                                <span></span>
                                            </a>
                                        </li>



                                        <li class="gplus">
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                                <span></span>
                                            </a>
                                        </li>



                                        <li class="insta">
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                                <span></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="ftlink-li">
                                <h2 class="ft-title">Informartion</h2>
                                <a data-toggle="collapse" href="#collapse-Informartion" class="ft-title">
                                    <span>Informartion</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="footer-sublist collapse" id="collapse-Informartion">



                                    <li class="ftsublink-li">
                                        <a href="/pages/return-policy" class="ft-sublink">Delivery</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/collections/featured-product" class="ft-sublink">Prices drop</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/collections/fearless" class="ft-sublink">New products</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/collections/prada" class="ft-sublink">Best sales</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/pages/sitemap" class="ft-sublink">Sitemap</a>
                                    </li>


                                </ul>
                            </li>

                            <li class="ftlink-li">
                                <h2 class="ft-title">My account</h2>
                                <a data-toggle="collapse" href="#collapse-My-account" class="ft-title">
                                    <span>My account</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="footer-sublist collapse" id="collapse-My-account">



                                    <li class="ftsublink-li">
                                        <a href="/pages/terms-condition" class="ft-sublink">Personal info</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/account" class="ft-sublink">Orders</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/pages/privacy-policy" class="ft-sublink">Credit slips</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/pages/return-policy" class="ft-sublink">Addresses</a>
                                    </li>



                                    <li class="ftsublink-li">
                                        <a href="/pages/wishlist" class="ft-sublink">My wishlists</a>
                                    </li>


                                </ul>
                            </li>

                            <li class="ftlink-li">
                                <h2 class="ft-title">Contact Us</h2>
                                <a data-toggle="collapse" href="#collapse-Contact-Us" class="ft-title">
                                    <span>Contact Us</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="footer-sublist collapse" id="collapse-Contact-Us">
                                    <li class="ftcon-li">

                                        <span class="con-icon"><i class="ti-location-pin"></i></span>

                                        <span class="con-add">

                                            <span>Calista Wise 7292 Str,</span>


                                            <span>Sample State. Sample city</span>

                                        </span>
                                    </li>


                                    <li class="ftcon-li">

                                        <span class="con-icon"><i class="ti-mobile"></i></span>

                                        <a href="tel:(+33) 1 23 45 67 89">(+33) 1 23 45 67 89</a>
                                    </li>


                                    <li class="ftcon-li">

                                        <span class="con-icon"><i class="ti-email"></i></span>

                                        <a href="mailto:demo@demo.com">demo@demo.com</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .footer-top-area {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    </style>
</div>
<div id="shopify-section-copy-right" class="shopify-section">
    <footer class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="ft-bottom">
                        <li class="copy-right">
                            <p>
                                <span>Copyright</span>
                                <i class="fa fa-copyright"></i>
                                <span>2020 Ecommerce by webheay<sup>TM</sup></span>
                            </p>
                        </li>
                        <li class="payment-img">
                            <a href="javascript:void(0)" class="payment-icon">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/visa.png?v=1594389779" class="img-fluid" alt="calveen-store">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/master.png?v=1594389785" class="img-fluid" alt="calveen-store">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/paypal.png?v=1594389792" class="img-fluid" alt="calveen-store">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/express.png?v=1594389798" class="img-fluid" alt="calveen-store">
                                <img src="//cdn.shopify.com/s/files/1/0431/7957/3403/files/discover.png?v=1594389805" class="img-fluid" alt="calveen-store">
                            </a>
                            <style>
                                .payment-icon {
                                    display: flex;
                                }

                                .payment-icon img {
                                    margin-right: 5px;
                                    border-radius: 3px;
                                }

                                .payment-icon img:last-child {
                                    margin-right: 0px;
                                }
                            </style>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a href="javascript:void(0)" id="top" class="scroll">
        <i class="fa fa-angle-up"></i>
    </a>

    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 700) {
                $('#top').fadeIn();
            } else {
                $('#top').fadeOut();
            }
        });
        $('#top').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    </script>

    <style>
        .footer-bottom-area {
            padding-top: 0px;
            padding-bottom: 15px;
        }
    </style>
</div>
<!-- Necessary JS -->
<script src="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/fastclick.min.js?v=2972345853941092237" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/timber.js?v=15650101190520849508" type="text/javascript"></script>


<script>

</script><div class="productmodal">
    <div class="modal fade" id="quickViewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-quickview">Product Quickview</h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="ion-close-round"></i></button>
                </div>
                <div class="modal-body">
                    <div class="quick-view">
                        <div class="quick-view-img">
                            <div class="quick-view-tab-content tab-content">
                                <div class="product-main-image__item">
                                    <div class="img_box_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quick-view">
                        <div class="quick-view-content">
                            <h2 class="product_title">FROM_JS</h2>
                            <div class="price-box price-part">
                                <span class="new-price">jsprice</span>
                                <span class="old-price">jsprice</span>
                            </div>
                            <div class="product-ratting">
                                <div class="rating">FROM_JS</div>
                            </div>

                            <div class="product-short-desc"></div>

                            <form id="add-item-qv" action="/cart/add" method="post">
                                <div class="quick-view-select variants select-option-part"></div>
                                <div class="product-qun-btn">
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input value="1" type="text" name="quantity" min="1" pattern="[0-9]*">
                                        </div>
                                    </div>
                                    <div class="quickview-buttons">
                                        <div class="quickview-btn-cart">
                                            <button type="submit" class="addtocartqv" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                        </div>
                                        <div class="quickview-btn-wishlist">

                                            <a class="wishlist" href="/account/login" title="Wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                                                <i class="ti-heart"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <script>
                                    jQuery('.addtocartqv').click(function (e) {
                                        e.preventDefault();
                                        Shopify.addItemFromForm('add-item-qv');
                                        jQuery('#quickViewModal').modal('hide');
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="quickViewModal_info" style="display: none;">
    <div class="button"></div>
    <div class="button_added"></div>
    <div class="button_error"></div>
    <div class="button_wait"></div>
</div>

<script>
    var mainImage = '';
    jQuery(function ($) {
        quiqview = function(product_handle) {
            Shopify.getProduct(product_handle);
        }
        Shopify.onProduct = function(product) {
            $('.viewfullinfo').attr('href', product.url);

            // product description without shortcode
            text_truncate = function(str, length, ending) {
                if (length == null) {
                    length = 500;
                }
                if (ending == null) {
                    ending = '...';
                }
                if (str.length > length) {
                    return str.substring(0, length - ending.length) + ending;
                }
                else {
                    return str;
                }
            };
            var _parent = '#quickViewModal';
            $(_parent+' .product_title').text(product.title);

            // product rating
            $(_parent+' .rating').empty();
            $(_parent+' .rating').append("<span class=\"shopify-product-reviews-badge\" data-id=\""+product.id+"\"></span>");

            //check variants
            var variant = '';
            for (i = 0; i < product.variants.length; i++) {
                if(product.variants[i].inventory_quantity > 0) {
                    variant = product.variants[i];
                    break;
                }
            }
            if(variant == '') {
                for (i = 0; i < product.variants.length; i++) {
                    if(product.variants[i].inventory_policy == "continue") {
                        variant = product.variants[i];
                        break;
                    }
                }
                if(variant == '') {
                    variant = product.variants[0];
                }
            }

            // product description with shortcode
            var desc = product.description;
            if (desc.indexOf("[short_description]") >= 0) {
                desc = desc.split("[short_description]");
                desc = desc[1].split("[/short_description]");
                $(_parent+' .product-short-desc').show();
                $(_parent+' .product-short-desc').html(desc[0]);
            }
            else {
                $(_parent+' .product-short-desc').html(text_truncate(product.description,120));
            }

            //set variants property
            var inv_qua = variant.inventory_quantity;

            //price
            if(variant.price < variant.compare_at_price) {
                $('.price-part .new-price').addClass('amount');
                $('.price-part .old-price').show();
                changePriceValue('.price-part .new-price', variant.compare_at_price);
                changePriceValue('.price-part .old-price', variant.price);
            }
            else {
                $('.price-part .old-price').hide();
                $('.price-part .new-price').removeClass('amount');
                changePriceValue('.price-part .new-price', variant.price);
            }

            // Variants select
            if(product.variants.length > 1) {
                var variants_margin = product.options.length == 2 ? 'variants_margin' : '';
                var select = '<select id="product-select-qv" name="id">';
                var selected = 'selected';
                for (i = 0; i < product.variants.length; i++) {
                    var _var = product.variants[i];
                    if(_var.available) {
                        select += '<option value="' + _var.id + '"' + selected +'>' + _var.title + ' - ' + Shopify.formatMoney(_var.price, "<span class=money>£{{amount}}</span>") + '</option>'
                        selected = '';
                    }
                }
                select += '</select>';
                var variant_select = '<div class="variants_selects ' + variants_margin + '">';
                variant_select += select;
                variant_select += '</div><div class="divider divider--sm"></div>';
                select = variant_select;
            }
            else {
                var select = '<input type="hidden" name="id" value="' + product.variants[0].id + '" />';
            }

            $('.variants').empty();
            $('.variants').html(select);

            //parametres
            setParametresText(_parent+' .product-sku', variant.sku);
            if(jQuery(_parent + ' .product-sku').length) {
                var $ava = jQuery(_parent + " .product-info__availabilitu");
                if(variant.sku != "") {
                    if($ava.hasClass('pull-left')) {
                        $ava.removeClass('pull-left')
                    }
                }
                else {
                    if(!$ava.hasClass('pull-left')) {
                        $ava.addClass('pull-left')
                    }
                }
            }

            //quantity
            var out_of_stock = false;
            if(variant.inventory_management) {
                if(inv_qua > 0) {
                    $(_parent+' .product-availability').text(inv_qua + " In Stock");
                }
                else {
                    out_of_stock = true;
                    $(_parent+' .product-availability').text("In Stock");
                }
            }
            else {
                $(_parent+' .product-availability').text("Many in stock");
            }

            // button
            if(!out_of_stock || variant.inventory_policy == "continue") {
                $('.product-available').show();
                $('.product-disable').hide();
                $('.addtocartqv').attr('id', product.id );
            }
            else {
                $('.product-available').hide();
                $('.product-disable').show();
            }

            if (product.available && product.variants.length > 1) {
                new Shopify.OptionSelectors("product-select-qv", { product: product, onVariantSelected: selectCallbackQv, enableHistoryState: true });
                if($('#quickViewModal .variants_selects .selector-wrapper').length > 0) {
                    $.each( jQuery('#quickViewModal .variants_selects .selector-wrapper'), function(index) {
                        //alert('fdf43');
                        //console.log($(this).find('label'));
                        $(this).find('label').text(product.options[index].name);
                    });
                }
            }
            else {
                jQuery('.currency .active').trigger('click');
            }

            selectGrid(_parent,product);
            if($(".spr-badge").length > 0) {
                $.getScript(window.location.protocol + "//productreviews.shopifycdn.com/assets/v4/spr.js");
            }
            if($(".selector-wrapper label").length) {
                $(".selector-wrapper label").each(function( index ) {

                    $(this).text(jQuery(this).text() + ":");
                });
            }

            $(_parent).modal('show');

            if( !( 'ontouchstart' in window ) &&
                !navigator.msMaxTouchPoints &&
                !navigator.userAgent.toLowerCase().match( /windows phone os 7/i ))
                return false;
            $j('body').css("top", -$j('body').scrollTop());
            $j('body').addClass("no-scroll");
            $j('.close').click(function() {
                var top = parseInt($j('body').css("top").replace("px", ""))*-1;
                $j('body').removeAttr("style");
                $j('body').removeClass("no-scroll");
                $j('body').scrollTop(top);
            });
        }

        function setParametresText(obj, value) {
            if(value != '') {
                $(obj).parent().show();
                $(obj).text(value);
            }
            else {
                $(obj).parent().hide();
            }
        }

        function changePriceValue (cell, value) {
            $(cell).html(Shopify.formatMoney(value, "<span class=money>£{{amount}}</span>"));
        };
    });

    var selectCallbackQv = function(variant, selector) {
        var _parent = '#quickViewModal';
        var _parentprice = _parent + ' .price-part';
        if (!variant) {
            jQuery(_parent + " .price-box").hide();
            jQuery(_parent + " .qwt").hide();
            jQuery(_parent + " .control-console").hide();
            jQuery(_parent + ' .addtocartqv').attr('disabled','disabled');
            jQuery(_parent + ' .addtocartqv').text('Unavailable');
            return false;
        }
        jQuery(_parent + " .price-box").show();
        jQuery(_parent + " .qwt").show();
        jQuery(_parent + " .control-console").show();
        if(variant.price < variant.compare_at_price) {
            jQuery(_parentprice + ' .new-price').addClass('price-box__old');
            jQuery(_parentprice + ' .old-price').show();
            changePriceValue(_parentprice + ' .new-price', variant.price);
            changePriceValue(_parentprice + ' .old-price', variant.compare_at_price);
        }
        else {
            jQuery(_parentprice + ' .old-price').hide();
            jQuery(_parentprice + ' .new-price').removeClass('price-box__old');
            changePriceValue(_parentprice + ' .new-price', variant.price);
        }
        newVariantTextDataQv(_parent + ' .product-sku', variant.sku);
        if(jQuery(_parent + ' .product-sku').length) {
            var $ava = jQuery(_parent + " .product-info__availabilitu");
            if(variant.sku != "") {
                if($ava.hasClass('pull-left')) {
                    $ava.removeClass('pull-left')
                }
            }
            else {
                if(!$ava.hasClass('pull-left')) {
                    $ava.addClass('pull-left')
                }
            }
        }
        if (variant.available) {
            if (variant.inventory_management == null) {
                jQuery(_parent + " .product-availability").text("Many in stock");
            }
            else {
                jQuery(_parent + " .product-availability").text(" Many in stock");
            }
        }
        else {
            jQuery(_parent + " .product-availability").text("Sold Out");
        }

    
        if (variant && variant.available) {
            jQuery(_parent + ' .addtocartqv').removeAttr('disabled');
            jQuery(_parent + " .control-console").show();
        }
        else {
            jQuery(_parent + ' .addtocartqv').attr('disabled','disabled');
            jQuery(_parent + ' .addtocartqv').text('Unavailable');
            jQuery(_parent + " .control-console").hide();
        }
        jQuery('.currency .active').trigger('click');
    };

    function changePriceValue (cell, value) {
        jQuery(cell).html(Shopify.formatMoney(value, "<span class=money>£{{amount}}</span>"));
    };

    function newVariantTextDataQv (obj, value) {
        if(value != '') {
            jQuery(obj).parent().show();
            jQuery(obj).text(value);
        }
        else {
            jQuery(obj).parent().hide();
        }
    };

    function selectGrid(_parent,product) {
        setTimeout(timeout, 5);
        function timeout() {
            if(jQuery(_parent + " .selector-wrapper").length > 2){

                jQuery(_parent + " .single-option-selector").addClass("select--wd");
            }
            else if(jQuery(_parent + " .selector-wrapper").length == 1) {

                $.each( jQuery('#quickViewModal .variants_selects .selector-wrapper'), function(index) {
                    //alert('fdf43');
                    //console.log($(this).find('label'));
                    jQuery(_parent + " .single-option-selector").before("<label>"+product.options[index].name+"</label>");
                    //$(this).find('label').text(product.options[index].name);
                });

                //
                jQuery(_parent + " .single-option-selector").addClass("select--wd");
            }
        }
    };
</script>

<script>
    $(".cart-plus-minus").prepend('<div class="dec qtybutton">-</div>');
    $(".cart-plus-minus").append('<div class="inc qtybutton">+</div>');
    $(".qtybutton").on("click", function () {
        var $button = $(this);
        var oldValue = $button.parent().find("input").val();
        if ($button.text() == "+") {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        $button.parent().find("input").val(newVal);
    });
</script>
<script>
    $('.ajax-spin-cart').on('click', function () {
        $(this).addClass('loading add-item');
        setTimeout(function () {
            $('.ajax-spin-cart').removeClass('loading');
        }, 1000);
        setTimeout(function () {
            $('.ajax-spin-cart').removeClass("add-item");
        }, 2000);

    });
</script>
<script src="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/wishlist.js?v=8029476341967888490" type="text/javascript"></script>
<script>

    /* Ajax Wishlist */
    $(".action-wishlist").on('click', function () {
        $(this).addClass("loading-wishlist adding-wishlist");
        setTimeout(function () {
            $(".action-wishlist").removeClass("loading-wishlist");
        }, 1000);
        setTimeout(function () {
            $(".adding-wishlist").removeClass("adding-wishlist");
        }, 2000);

    });

    (function () {
        Wishlist.init();
    }());
</script><!-- Recently Viewed Products -->
<script src="//cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/jquery.currencies.min.js?v=3545291232168825427" type="text/javascript"></script>

<script>

    // Pick your format here:
    // money_format or money_with_currency_format
    Currency.format = 'money_format';

    var shopCurrency = 'GBP';

    /* Sometimes merchants change their shop currency, let's tell our JavaScript file */
    Currency.moneyFormats[shopCurrency].money_with_currency_format = "£{{amount}} GBP";
    Currency.moneyFormats[shopCurrency].money_format = "£{{amount}}";

    var cookieCurrency;
    try {cookieCurrency = Currency.cookie.read();} catch (err) {} // ignore errors reading cookies

    // Fix for customer account pages.
    jQuery('span.money span.money').each(function() {
        jQuery(this).parents('span.money').removeClass('money');
    });

    // Saving the current price.
    jQuery('span.money').each(function() {
        jQuery(this).attr('data-currency-GBP', jQuery(this).html());
    });

    // Select all your currencies buttons.
    var buttons = jQuery('.currency li');

    // If there's no cookie or it's the shop currency.
    if (cookieCurrency == null || cookieCurrency === shopCurrency) {
        buttons.removeClass('active');
        jQuery('.currency li[data-currency=' + shopCurrency + ']').addClass('active');
        Currency.currentCurrency = shopCurrency;
        jQuery(".current-currency").text(shopCurrency);
    }
    else {
        Currency.convertAll(shopCurrency, cookieCurrency);
        buttons.removeClass('active');
        jQuery('.currency li[data-currency=' + cookieCurrency + ']').addClass('active');
        jQuery(".current-currency").text(cookieCurrency);
    }

    // When customer clicks on a currency button.
    buttons.click(function() {
        buttons.removeClass('active');
        var cur = jQuery(this).attr('data-currency');
        jQuery( ".currency li[data-currency='" + cur + "']" ).addClass('active');

        var newCurrency =  jQuery(this).attr('data-currency');
        if(newCurrency == Currency.currentCurrency)
        {
            Currency.convertAll(shopCurrency, newCurrency);
        }
        else
        {
            Currency.convertAll(Currency.currentCurrency, newCurrency);
        }

        jQuery(".current-currency").text(cur);
    });

    // For product options.
    var main_selectCallback = window.selectCallback;
    var selectCallback = function(variant, selector) {
        main_selectCallback(variant, selector);
        Currency.convertAll(shopCurrency, jQuery(".currency .active").attr('data-currency'));
    };
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-110326897-1', 'auto');
    ga('send', 'pageview');

</script>
<div id="shopify-section-promo-fixed" class="shopify-section">

    <script>
        function initPromoFixed() {
            var $ttpromofixed = $(".st-promo-fixed"),
                $promofixeddata = $(".promofixeddata"),
                $promofixedclose = $ttpromofixed.find(".st-btn-close");

            if ($('html').hasClass('touch-device') && $ttpromofixed.hasClass('hidden-mobile')) return false;
            if ($ttpromofixed.hasClass('hidden-mobile') && $(window).width < 1025) return false;
            if ($promofixeddata.length == 0) return false;

            setPromoFixedItem($ttpromofixed, $promofixeddata);
            showPromoFixed($ttpromofixed, $ttpromofixed.data('start'));

            showPromoFixedNextMessage($ttpromofixed, $promofixeddata, $promofixedclose)

            $promofixedclose.click(function () {
                $ttpromofixed.addClass('nonevent').fadeTo(100, 0);
            });
        }
        function showPromoFixedNextMessage($modal, $data, $close) {
            var nextmin = $modal.data('min'),
                nextmax = $modal.data('max');
            var i = getRndInteger(nextmin, nextmax);
            setTimeout(function () {
                $close.trigger('click');
                setTimeout(function () {
                    setPromoFixedItem($modal, $data);
                    showPromoFixed($modal, 0);
                    showPromoFixedNextMessage($modal, $data, $close);
                }, 100);
            }, i);
        }
        function getPromoFixedCustomProductIndex($promofixeddata) {
            var min = 0,
                max = $promofixeddata.children().length;
            return getRndInteger(min, max);
        }
        function setPromoFixedItem($modal, $data) {
            var i = getPromoFixedCustomProductIndex($data)
            var data = $data.children().eq(i);
            $modal.find('.st-img').find('a').attr('href', data.data('url')).find('img').attr('src', data.data('image')).attr('alt', data.data('alt'));
            $modal.find('.pr_name').attr('href', data.data('url')).text(data.data('name'));

            var nummin = parseInt(data.data('min')),
                nummax = parseInt(data.data('max')),
                num = getRndInteger(nummin, nummax);
            $modal.find('.st-info-value').text(num);

            if (typeof data.data('text') === typeof undefined) return false;
            var str = data.data('text').split('||'),
                i = getRndInteger(0, str.length - 1);
            $modal.find('.st-info-text').text(str[i]);
        }
        function showPromoFixed($parent, delay) {
            setTimeout(function () {
                $parent.removeClass('nonevent').fadeTo(300, 1);
            }, delay);
        }
        function getRndInteger(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }
        setTimeout(initPromoFixed, 300);
    </script>
</div>


<script>
    // ensure these are available to the global window, for use in the bootstrap js asset
    window.BOLD_mc_bootstrapSettings = {
        shopDomainUrl: 'https://mc.boldapps.net/calveen-store.myshopify.com',
        flagsAssetUrl: '//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/flags.min.css?v=11423435072373700026',
        pickerCssAssetUrl: '//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/bold-currency-picker.css?v=13391284501349475482',
        productOriginalPrice: 1000
    };
</script>
<script src="https://mc.boldapps.net/install_assets/bold.multicurrency.js" defer></script>
<script src="//cdn.shopify.com/s/files/1/0431/7957/3403/t/3/assets/bold-currency-bootstrap.js?v=2180478239217173281" defer></script>
<script type="text/template" id="bold-currency-picker-template">
        <div class="BOLD-mc-picker multi">
            <div class="currentCurrency loading" data-current-currency>
                <span class="flag flag-loading" data-flag></span>
                <span class="name" data-name>&bull;&bull;&bull;</span>
                <span class="chevron">
                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.148 10.398l-1.297 1.289q-0.148 0.148-0.352 0.148t-0.352-0.148l-4.148-4.148-4.148 4.148q-0.148 0.148-0.352 0.148t-0.352-0.148l-1.297-1.289q-0.148-0.148-0.148-0.355t0.148-0.355l5.797-5.789q0.148-0.148 0.352-0.148t0.352 0.148l5.797 5.789q0.148 0.148 0.148 0.355t-0.148 0.355z" /></svg>
                </span>
            </div>
            <ul class="currencyList" data-currency-list></ul>
        </div>
    </script>

<script type="text/template" id="bold-currency-picker-mount-template">
        <span style="display:none;" class="BOLD-mc-picker-mnt " data-open="up" data-bold-mc-picker-mnt></span>
    </script>
</body>
</html>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
        $("li[data-vote]").each(function(el) {
            $(this).click(function() {
                var value = $(this).attr("data-vote");
                var productId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                console.log(antiForgeryToken);
                var data = { productId: productId, value: value };

                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json'
                });
            });
        })
    </script>
} 