@using System.Security.Claims
@using BarakaBg.Web.ViewModels.Addresses
@model BarakaBg.Web.ViewModels.Orders.OrderCreateInputModel

@{
    this.ViewData["Title"] = "Checkout";
}

<section class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form method="post" asp-controller="Orders" asp-action="Create" id="orderForm">
                    <h5>Billing Information</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="UserFullName"></label>
                            <input asp-for="UserFullName" />
                            <span asp-validation-for="UserFullName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-group border-primary mb-0">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label>
                                    <input asp-for="ShipmentType" type="radio" id="Home" value="Home" checked>
                                    <span class="font-weight-bold mr-2">
                                        To Home
                                    </span>
                                </label>
                                <label>
                                    <input asp-for="ShipmentType" type="radio" id="Office" value="Office">
                                    <span class="font-weight-bold">
                                        To Office
                                    </span>
                                </label>
                            </li>
                        </ul>
                        <span asp-validation-for="ShipmentType" class="text-danger"></span>
                    </div>
                    <hr />
                    <h4 class="mb-2">
                        Choose Address
                    </h4>
                    <div class="form-group border-primary mb-0">
                        <ul class="list-group">
                            @foreach (var address in Model.Addresses)
                            {
                                <li class="list-group-item">
                                    <label>
                                        <input asp-for="AddressId" type="radio" value="@address.Id" checked />
                                        @address.Street @address.CityName, @address.CityZIPCode,  @address.CityCountryName@(string.IsNullOrEmpty(address.Description) ? string.Empty : ", " + address.Description)
                                    </label>
                                    <div class="float-right"><a asp-area="" asp-controller="Addresses" asp-action="Delete" asp-route-id="@address.Id"><i class="fas fa-trash"></i></a></div>
                                </li>
                            }
                        </ul>
                        <span asp-validation-for="AddressId" class="text-danger"></span>
                    </div>
                    <a class="btn btn-primary mt-2" data-toggle="collapse" href="#addressForm" role="button" aria-expanded="false" aria-controls="addressForm">
                        Add
                    </a>
                    <input asp-for="PayForm" hidden value="CashOnDelivery" />
                </form>
                <hr />
                <div class="collapse" id="addressForm">
                    <h4 class="mb-5">
                        Add Address
                    </h4>
                    <partial name="_AddAddressPartial" model="new AddressInputModel { UserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier), Countries = Model.Countries }" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <vc:cart-body-checkout></vc:cart-body-checkout>
                    <div class="col-md-12">
                        <div class="pay-meth">
                            <h5>
                                Payment Method
                            </h5>
                            <div class="pay-box">
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="radio" name="payment" id="cashOnDeliveryInput" value="CashOnDelivery" checked />
                                        <label for="cashOnDeliveryInput"><span>
                                                <i class="fa fa-circle"></i>
                                            </span>
                                            Cash On Delivery</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="payment" id="stripeInput" value="Stripe" />
                                        <label for="stripeInput"><span><i class="fa fa-circle"></i></span>
                                            Stripe</label>
                                    </li>
                                </ul>
                            </div>
                            <span asp-validation-for="PayForm" class="text-danger"></span>
                        </div>
                        <button type="button" name="button" class="ord-btn" id="orderButton">
                            Place Order
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Checkout -->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderButton").click(function () {
                $("#orderForm").submit();
            });
            $("#cashOnDeliveryInput").click(function () {
                $("#PaymentType").val($(this).val());
            });
            $("#stripeInput").click(function () {
                $("#PaymentType").val($(this).val());
            });
        });
    </script>
}
